
.align-app {
    height: 377px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app {
    height: 223px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .app-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
  }
  
  .app .header {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
  }
  
  .app-right p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 13px;
  }
  
  .app-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app img {
    padding-top: 180px;
    height: 250px;
  }
  
  .app button {
    width: 174px;
    height: 56px;
    background: #FDC212;
    border-radius: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    border: 0.1px solid white;
    margin: 13px 11px;
  }
  
  .app a {
    text-decoration: none;
    color: #000;
  }
  
  .app img {
    width: 312px;
    height: 266px;
    margin-left: 20px;
  }
  